header {
    background-color: greenyellow;
    padding: 20px;
}

#navigator {
    background-color:darkgreen;
    height: 40px;
    border-radius: 5px;
}

.nav__text--blue {
    margin-left: 20px;
    color:blue;
}

.aside__navigation {
    display: inline-block;
    background-color: orange;
    height: 250px;
    width: 180px;
}

.main__container {
    width: 180px;
    height: 250px;
    background-color: red;
    display: inline-block;
}

.footer__container {
    background-color: blueviolet;
    height: 80px;
}